.searchassetForm{
    width: 100%;
    display: grid;
    padding: 20px;
    justify-items: center;
}

.idek{
    display: grid;
    grid-template-columns: 20% 60%;
    width: 80%;
    padding-bottom: 10px;
}

.results{
    display: grid;
    padding: 20px;
    background-color: var(--accent-clr);
    justify-items: center;
    width: 80%;
    margin: 20px 10%;
    border-radius: 20px;
    border: solid 3px var(--main-blue);
}

.assetresult{
    width: 80%;
    display: grid;
    padding: 20px;
    height: max-content;
    justify-items: center;
    border-bottom: dashed 3px var(--main-blue);
}

.resultText{
    font-size: x-large;
    font-weight: bold;
    color: var(--main-blue);
}

