.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* BULLSHIT */




/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; */
/* } */

.tabs {
    display: flex;
    cursor: pointer;
    background-color: #f1f1f1;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 10px 15px;
    flex: 1;
    text-align: center;
    background-color: #ddd;
}

.tab:hover {
    background-color: #bbb;
}

.tab-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.tab-pane {
    display: none;
}
/* 
input[type="text"] {
    padding: 8px;
    width: 100%;
    margin-top: 10px;
} */

.active-tab {
    background-color: darkgrey;
}