

.nav-bar {
    text-align: center;
    background-color: darkslateblue;
    /* box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25); */
    padding: 10px;
    color: white;
}

.nav-bar-elem {
    padding: 10px;
    font-weight: bold;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
}

.nav-bar a {
    text-decoration: none;
    padding: 15px;
    color: white;
    background-color: darkslateblue;
}

.nav-bar a:hover {
    background-color: rgb(195, 155, 155);
}

.nav-bar-far-left {
    position: fixed;
    left: 5px;
}

.nav-bar-far-right {
    position: fixed;
    right: 5px;
}


/*  Sidebar Navigation  */


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondary-blue);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-align: right;
  }

  .sidenav a, .dropdown-btn {
    padding: 10% 0;
    text-decoration: none;
    font-size: 20px;
    color: var(--grey);
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
  }

  .sidenav a:hover, .dropdown-btn:hover {
    color: white;
  }

  .active {
    background-color: var(--main-blue);
    color: white;
  }

  .dropdown-container {
    display: none;
    background-color: var(--secondary-blue);
    padding-left: 8px;

  }

  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .hamburgerbutton{
    font-size: 30px;
    cursor: pointer;
  }
  .home{
    background-color: var(--light-blue);
    margin-top: 10px;
  }
  .home a{
    color: black;
  }

  /* slider on home page */
  
  .slider {
    width: 80%;
    text-align: center;
    overflow: hidden;
    padding: 20px;
  }
  
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 20px;
    
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
  }
  .slides::-webkit-scrollbar-thumb {
    background: #285162;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    margin-right: 50px;
    border-radius: 50%;
    background: var(--light-blue);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    font-size: large;
    font-weight: bolder;
    color: white;
  }
  .slider img {
    object-fit: scale-down;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }