{% extends "layouts/nav.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
    
</head>

<header>
    <img src="/static/img/logo.png">
    <h1>Maintenance Manager</h1>
    <h1>Department</h1>
    <a href="/logout" class="logout"><img src="/static/img/Logout.png"></a>
</header>

<body>
    <div class="buttons">
        <button type="button" onclick="window.location.href='/send-request'" class="request homePageButton" >
            <H2>Send Request</H2><br>
            <img src="/static/img/mail.png">
        </button>
        <button type="button" onclick="window.location.href='/update-asset-usage'" class="usage homePageButton">
            <H2>Update Usage</H2><br>
            <img src="/static/img/time.png">
        </button>
        <button type="button" onclick="window.location.href='/report-equipment-failure' " class="break homePageButton">
            <H2>Report Breakage</H2><br>
            <img src="/static/img/alert.png">
        </button>
        <button type="button" onclick="window.location.href='/view-assets'" class="device homePageButton">
            <H2>View Devices</H2><br>
            <img src="/static/img/search.png">
        </button>
    </div>
</body>
</html>
{% endblock %}