{% extends "layouts/nav.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Failure Report</title>
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
</head>

<body>
    <div class="break subheader">
        <h1 class="title">
            Report Breakage
        </h1>
    </div>

    <form class="form">
        <div class="subjectClass">
            <label for="subject" class="labeltext">Subject:</label>
            <input type="text" id="subject" name="subject" class="inputBox">
        </div>
        <div class="dateClass">
            <label for="date" class="labeltext">Date:</label>
            <input type="date" id="date" name="date" class="inputBox">
        </div>
        <div class="messageClass">
            <label for="message" class="bigText">Message:</label>
            <input type="message" id="message" name="message" class="bigBox">
        </div>
        <div class="gapClass"></div>
        <input type="submit" value="Submit" class="submitbutton buttonClass">
    </form>
</body>
</html>

{% endblock %}