{% extends "layouts/nav.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Details</title>
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
</head>

<body>
    <div class="assetDisplay">
        <div class="assetCircle">
            <img src="/static/img/mri.png">
        </div>
        <div class="assetInfo">
            <div class="assetHead">
                MR 770: Radiology Room 42
            </div>
            <div class="assetSubHead"> 
                Maintenance Scheduled on April 20
            </div>
        </div>
    </div>

    <div class="buttons">
        <button type="button" onclick="window.location.href='#'" class="request homePageButton" >
            <H2>View Maintenance Team</H2><br>
            <img src="/static/img/tools-307105_1280 1.png">
        </button>
        <button type="button" onclick="window.location.href='/view-usage'" class="usage homePageButton">
            <H2>View Usage</H2><br>
            <img src="/static/img/time.png">
        </button>
        <button type="button" onclick="window.location.href='/work_maintenance'" class="good-news homePageButton">
            <H2>Work on Maintenance</H2><br>
            <img src="/static/img/alert.png">
        </button>
        <button type="button" onclick="window.location.href='/info'" class="device homePageButton">
            <H2>Information on Asset</H2><br>
            <img src="/static/img/search.png">
        </button>
    </div>
</body>
</html>

{% endblock %}