{% extends "layouts/nav.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Asset</title>
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
    <link rel="stylesheet" href="/static/pages/Staff/assetwork.css">
    <!-- <link rel="icon" type="image/png" href="static/img/logo.png"> -->
</head>
<!-- <header>
    <a href="/home"><img src="static/img/logo.png"></a>
    <h1>Project 3 Temporary Name</h1>
    <h1>Department</h1>
    <a href="/logout"><img src="/static/img/Logout.png"></a>
</header> -->
<body>
    <div class="good-news subheader">
        <h1 class="title">
            Maintenance Work
        </h1>
    </div>

    <form class="main-work-form">  
        <div class="dateClass">
            <label for="date" class="labeltext">Date:</label>
            <input type="date" id="date" name="date" class="inputBox fixover">
        </div>
        <div class="timeClass">
            <label for="time" class="labeltext">Time:</label>
            <input type="time" id="time" name="time" class="inputBox">
        </div>
        <div class="statusClass">
            <div class="labeltext">
                Status:
            </div>
            <div class="radioButtons">
                <input type="radio" id="in_progress" name="status" value="in_progress" class="radioButton">
                <label for="in_progress">In Progress</label>
                <input type="radio" id="complete" name="status" value="complete">
                <label for="complete">Complete</label>
            </div>
        </div>
        <div class="descClass">
            <label for="description" class="bigText">Description:</label>
            <input type="description" id="description" name="description" class="bigBox">
        </div>
        <div class="gapClass"></div>
        <input type="submit"  class="submitbutton buttonClass">
    </form>
</body>
</html>

{% endblock %}