{% extends "layouts/nav.html" %}
{% block content %}

<head>
    <title>Maintenance Request Submission</title>
    <link rel="stylesheet" href="/static/pages/PublicAccess/SendMaintenanceRequest_styles.css">
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
</head>
<body class="wholepage">
    <div class="truebody Special">
        <div class="request subheader">
            <h1 class="title">Send Maintenance Request</h1>
        </div>

        <form action="/send-request" method="post">
            {{ form.hidden_tag() }}

            <div class="form">
                <div class="urgencyClass">
                    <label for="urgencyCheck" class="labeltext">Level of urgency</label>
                    {{ form.urgency_level(class="inputBox doINeedThisClass") }}
                    {% for error in form.urgency_level.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
        
                {% if success_message %}
                    <h2 style="align-items: center;font-size: large;">{{ success_message }}</h2>
                {% else %}
                {% endif %}

                <div class="subjectClass">
                    <label for="DOI" class="labeltext">Device Generic Name</label>
                    {{ form.generic_name(class="inputBox") }}
                    {% for validation_error in form.generic_name.errors %}
                        <span class="validation-error">{{ validation_error }}</span>
                    {% endfor %}
                </div>

                <div class="messageClass">
                    <label for="message" class="labeltext">Optional Detailed Message</label>
                    {{ form.detailed_message(class="bigBox") }}
                    {% for validation_error in form.detailed_message.errors %}
                        <span class="validation-error">{{ validation_error }}</span>
                    {% endfor %}
                </div>
        
                <div class="buttonClass">
                <button type="submit" class="submitButton">Send Maintenance Request</button>
                </div>
            </div>
        </form>
    </div>
</body>

{% endblock %}