{% extends "layouts/nav.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <!-- <link rel="stylesheet" href="/static/pages/stylesheet.css"> -->
</head>
<!-- <header>
    <a href="/admin_dashboard"><img src="static/img/logo.png"></a>
    <h1>Project 3 Temporary Name</h1>
    <h1>Department</h1>
    <a href="/logout"><img src="static/img/Logout.png"></a>
</header> -->
<body>
    
</body>
</html>

{% endblock %}