{% extends "layouts/nav.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Usage</title>
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
    <link rel="stylesheet" href="/static/pages/UniversalPages/viewusage.css">
</head>

<body>
    <div class="usage subheader">
        <h1 class="title">
            View Usage
        </h1>
    </div>



    <div class="assetDisplay">
        <div class="assetCircle">
            <img src="/static/img/mri.png">
        </div>
        <div class="assetInfo">
            <div class="assetHead">
                MR 770: Radiology Room 42
            </div>
            <div class="assetSubHead"> 
                Maintenance Scheduled on April 20
            </div>
        </div>
    </div>

    
    <div class="results" >
        <div class="gridLeft upperLeft usagedate">
            <div class="dateHead">
                January 23, 2025
            </div>
            <div class="timeSubHead">
                8:00-8:30
            </div>
        </div>
        <div class="gridRight upperRight notes">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    <div class="results">
        <div class="gridLeft usagedate">
            <div class="dateHead">
                January 23, 2025
            </div>
            <div class="timeSubHead">
                8:00-8:30
            </div>
        </div>
        <div class="gridRight notes">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    <div class="results">
        <div class="gridLeft usagedate">
            <div class="dateHead">
                January 23, 2025
            </div>
            <div class="timeSubHead">
                8:00-8:30
            </div>
        </div>
        <div class="gridRight notes">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    <div class="results">
        <div class="gridLeft bottomLeft usagedate">
            <div class="dateHead">
                January 23, 2025
            </div>
            <div class="timeSubHead">
                8:00-8:30
            </div>
        </div>
        <div class="gridRight bottomRight notes">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>

    

</body>
</html>

{% endblock %}