{% extends "layouts/nav.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="/static/pages/Manager/ManagerHome_styles.css">
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
    <title>Home</title>
</head>
<body class="wholepage">
    <div class="truebody">
        <div class="general subheader">
            <h1 class="title">Home</h1>
        </div>
        <div class="content">
            {% for _asgn in assignments %}
                <!--  KEEP THIS COMMENT HERE!
                    [0] gives User
                    [1] gives Asset
                    [2] gives Activity
                    [3] gives ActivityAssetUser 
                -->
                <div class="dropdownHeader">
                    <span id="thisShouldGoOnLeftSide">
                        {{ _asgn[1].asset_name }}
                    </span>
                    <span id="thisShouldGoOnRightSide">
                        {{ _asgn[2].date }}{{ _asgn[2].time }}
                    </span>
                </div>
                <div class="dropdownBody">
                    <span>
                        
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}
