{% extends "layouts/nav.html" %}
{% block content %}

<head>
    <link rel="stylesheet" href="/static/pages/Manager/ManagerHome_styles.css">
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
    <title>Home</title>
</head>
<body class="wholepage">
    <div class="truebody">
        <div class="general subheader">
            <h1 class="title">Home</h1>
        </div>
        <div class="content">
            <div class="alerts">
                <img class="icon" src="/static/img/AlertRed.png" alt="Alert Icon">
                
<div class="slider">
    <div class="slideElementsContainer">
        {% for entry in assignments %}
            <form action="/asset-details/{{ entry.serial_number }}" method="post" class="slideElementContent">
                <span>{{ entry.asset_name }}</span>
                <span>Location: {{ entry.location }}</span>
                <span>Maintenance Type: {{ entry.activity_type }}</span>
                <span>Date: {{ entry.date }}</span>
                <span>Time: {{ entry.time }}</span>
                <span>Notes: {{ entry.notes }}</span>
                <span><button class="assetDetails" type="submit">See asset details</button></span>
            </form>
        {% endfor %}
    </div>
</div>

                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
