

<head>
    <!-- <link rel="stylesheet" href="/static/pages/Director/DirectorHome_styles.css"> -->
    <title>Maintenance Assistant - Sign In</title>
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
</head>
<body class="loginPage">
    <div class="container" style="text-align: center;">
        <h1>Maintenance Assistant</h1>
        <h3>Log in</h3>
        <form action="/login" method="post" class="loginForm">
            <div class="loginInput">
                <label for="username">Username:</label>
                <input type="text" name="username" class="loginTextBox"/>
            </div>
            
            <div class="loginInput">
                <label for="password">Password:</label>
                <input type="password" name="password" class="loginTextBox"/>
            </div>
            
            <div class="buttonRow loginInput">
                <button type="submit" class="loginButton">Reset Password</button>
                <button type="submit" class="loginButton">Login</button>
            </div>

            <div>
                <label for="rememberMe">Remember me?</label>
                <input type="checkbox" name="rememberMe" />
            </div>


            {% if pswd_fail == 'True' %}
                <p>Wrong password. Try again.</p>
            {% else %}
            {% endif %}

            <!-- <br /><br />
            <div>
                <label>Don't have an account?</label>
                <a href="/register">Create an account</href>
            </div> -->
            

        </form>
        <!-- { if current_user.is_authenticated }
            -- <h1>You are logged in</h1> --
            <a href="/logout">Logout</a>
        { else }
            -- <h1>You are not logged in</h1> --
        { endif } -->
    </div>
</body>
