

<head>
    <!-- <link rel="stylesheet" href="/static/pages/Director/DirectorHome_styles.css"> -->
    <title>Maintenance Assistant - Sign In</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h1>Maintenance Assistant - Sign in</h1>
        <form action="/login" method="post" style="text-align: center;">
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" />
            </div>
            
            <br />
            
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" />
            </div>
            
            <br />
            
            <div>
                <button type="submit">Login</button>
            </div>
            
            <br />
            
            <div>
                <label for="rememberMe">Remember me?</label>
                <input type="checkbox" name="rememberMe" />
            </div>
            
            <br />

            {% if pswd_fail == 'True' %}
                <p>Wrong password. Try again.</p>
            {% else %}
            {% endif %}

            <!-- <br /><br />
            <div>
                <label>Don't have an account?</label>
                <a href="/register">Create an account</href>
            </div> -->
            
            <br /><br /><br />
            <button type="submit">Forgot Password?</button>
        </form>
        <!-- { if current_user.is_authenticated }
            -- <h1>You are logged in</h1> --
            <a href="/logout">Logout</a>
        { else }
            -- <h1>You are not logged in</h1> --
        { endif } -->
    </div>
</body>
