{% extends "layouts/nav.html" %}
{% block content %}

<head>
    <title>Create new user</title>
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
    <!-- <link rel="stylesheet" href="/static/pages/Director/DirectorHome_styles.css"> -->
</head>
<body class="wholepage">
    <div class="truebody">
        <div class="container" style="text-align: center;">
            <h1>Register new user account</h1>
            <form action="/register" method="post">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" />
                </div>

                <div>
                    <label for="firstname">First name:</label>
                    <input type="text" name="firstname" />
                </div>

                <div>
                    <label for="lastname">Last name:</label>
                    <input type="text" name="lastname" />
                </div>

                <div>
                    <label for="email">Email:</label>
                    <input type="text" name="email" />
                </div>

                <div>
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="number" name="phoneNumber" />
                </div>

                <div>
                    <label for="user_role">User role:</label>
                    <select class="dropdown-content" name="user_role" multiple>
                        <!-- <option value="" disabled selected>Select a role</option> -->
                        <!-- <option value="Admin">Admin</option> -->
                        <option value="Director">Director</option>
                        <option value="Manager">Maintenance Manager</option>
                        <option value="Staff">Maintenance Staff</option>
                    </select>
                </div>

                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" />
                </div>

                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
</div>
</body>

{% endblock %}