{% extends "layouts/nav.html" %}
{% block content %}

<head>
    <title>Create new user</title>
    <link rel="stylesheet" href="/static/forms/signup.css">
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
    <!-- <link rel="stylesheet" href="/static/pages/Director/DirectorHome_styles.css"> -->
</head>
<body class="wholepage">
    <div class="truebody">
        <div class="general subheader">
            <h1 class="title">
                Register new user account
            </h1>
        </div>

        <!-- <form method="post">
            {{ form.hidden_tag() }}

            <label for="username">Username</label>
            {{ form.username }}
            {% for error in form.username.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            <label for="email">Email</label>
            {{ form.email }}
            {% for error in form.email.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            <label for="password">Password</label>
            {{ form.password }}
            {% for error in form.password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            {{ form.submit }}
        </form> -->
        
        <form action="/register" method="post" class="subGrid">
            <div class="inputUser">
                <label for="username" class="labeltext">Username:</label>
                <input type="text" name="username" class="inputBox"/>
            </div>

            <div class="inputUser">
                <label for="password" class="labeltext">Password:</label>
                <input type="password" name="password" class="inputBox"/>
            </div>

            <div class="inputUser">
                <label for="firstname" class="labeltext">First name:</label>
                <input type="text" name="firstname" class="inputBox"/>
            </div>

            <div class="inputUser">
                <label for="lastname" class="labeltext">Last name:</label>
                <input type="text" name="lastname" class="inputBox"/>
            </div>

            <div class="inputUser">
                <label for="email" class="labeltext">Email:</label>
                <input type="text" name="email" class="inputBox"/>
            </div>

            <div class="inputUser">
                <label for="phoneNumber" class="labeltext">Phone Number:</label>
                <input type="number" name="phoneNumber" class="inputBox"/>
            </div>

            <div class="inputUser">
                <label for="user_role" class="labeltext">User role:</label>
                <select class="dropdown-content inputBox" name="user_role" multiple>
                    <!-- <option value="" disabled selected>Select a role</option> -->
                    <!-- <option value="Admin">Admin</option> -->
                    <option value="Director">Director</option>
                    <option value="Manager">Maintenance Manager</option>
                    <option value="Staff">Maintenance Staff</option>
                </select>
            </div>

            <div>
                <button type="submit" class="submitbutton">Submit</button>
            </div>
        </form>
        <div>
        {% if validators_response %}
            {% for field_error, validator_errors in validators_response.items() %}
                <span>{{ field_error }}:</span>
                {% for validator_error in validator_errors %}
                    <span>{{ validator_error }}</span>
                    <br />
                {% endfor %}
                <br />
            {% endfor %}
        {% endif %}
        </div>
        
</div>
</body>

{% endblock %}