/* VARIABLES */
:root{
    --grey: #DDDDDE;
    --main-blue: #285162;
    --usage: #bc7241;
    --devices: #41bca6;
    --message: #4198bc;
    --break: #bc4f41;
}






/* DEPARTMENT */
.request{
    background: var(--message);
}
.usage{
    background: var(--usage);
}
.break{
    background: var(--break)
}
.device{
    background: var(--devices);
}

.subheader{
    width: 100%;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: center;
    align-items: center;
    padding: 15px;
    color: white;
    margin: 0%;
}

.returnHome{
    background-color: var(--main-blue);
    width: 189px;
    height: 80px;
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* department home */
.buttons{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: space-evenly;
    margin: 1%
}

.buttons button:hover {
    background-color: #285162;
    cursor: pointer;
}

.buttonStyle{
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 400px;
    height: 280px;
    margin: 5%;
}

.dHomeSpecial{
    align-items: unset !important;
}