{% extends "layouts/nav.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/pages/Director/AssetManagement/AddNewDevice_styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
</head>

<body class="wholepage">
    <div class="truebody">

        <div class="good-news subheader">
            <h1 class="title">
                Add New Asset
            </h1>
        </div>

        <form action="/add-device" method="post" class="AssetForm">
            
            <div class="subGrid">
            <div class="assetInput">
                <div class="tooltip labeltext">
                    <label for="deviceName">Device Name:</label>
                    <span class="tooltiptext">e.g., NeoPulse ECG Monitor</span>
                </div>
                <input type="text" name="deviceName" class="inputBox"/>
            </div>

            <div class="assetInput">
                <div class="tooltip labeltext">
                    <label for="brandName">Brand Name:</label>
                    <span class="tooltiptext">e.g., PulseMed</span>
                </div>
                <input type="text" name="brandName" class="inputBox"/>
            </div>
            
            <div class="assetInput">
                <div class="tooltip labeltext">
                    <label for="genName">Generic Name:</label>
                    <span class="tooltiptext">e.g., Electrocardiogram</span>
                </div>
                <input type="text" name="genName" class="inputBox"/>
            </div>

            <div class="assetInput">
                <div class="tooltip labeltext">
                    <label for="manName">Manufacturer:</label>
                    <span class="tooltiptext">e.g., CardioCare Solutions</span>
                </div>
                <input type="text" name="manName" class="inputBox"/>
            </div>
            
            <div class="assetInput">
                <div class="tooltip labeltext">
                    <label for="homeDepLoc">Stored Department:</label>
                    <span class="tooltiptext">e.g., ICU</span>
                </div>
                <input type="text" name="homeDepLoc" class="inputBox"/>
            </div>
            
            <div class="assetInput">
                <div class="tooltip labeltext">
                    <label for="instDate">Installation Date:</label>
                    <span class="tooltiptext">e.g., 06/24/2025</span>
                </div>
                <input type="date" name="instDate" class="inputBox"/>
            </div>
            </div>

            <div class="tabs">
                <div class="tab" onclick="showTab(0)">Failure Data</div>
                <div class="tab" onclick="showTab(1)">Usage Data</div>
                <div class="tab" onclick="showTab(2)">Maintenance Logs</div>
            </div>
        
            <div class="tab-content">
                <div class="tab-pane" id="tab1">
                    <main role="main" class="tabcontainer">
                        <h3>Failure Data</h3>
                        <p class="lead">Historical failure data for device</p>
                        <div class="container welcome-div">
                            <div id="failure">
                            </div>
                        </div>
                    </main>
                </div>
                <div class="tab-pane" id="tab2">
                    <main role="main" class="tabcontainer">
                        <h3>Usage Data</h3>
                        <p class="lead">Historical usage data for device</p>
                        <div class="container welcome-div">
                            <div id="usage"></div>
                            <div>
                                <div class="tooltip">
                                    <label for="avgUseYear">Average Uses per year:</label>
                                    <span class="tooltiptext">e.g., 1400</span>
                                </div>
                                <input type="text" name="avgUseYear" />
                            </div>
                        </div>
                    </main>
                </div>
                <div class="tab-pane" id="tab3">
                    <main role="main" class="tabcontainer">
                        <h3>Maintenance Data</h3>
                        <p class="lead">Maintenance data for device</p>
                        <div class="container welcome-div">
                            <div id="maintenance"></div>
                            <div>
                                <div>
                                    <label for="maintLastYear">Number of Maint. activities in last year</label>
                                    <input type="number" name="maintLastYear"/>
                                </div>
                                <div>
                                    <label for="commMaintAct">Common maint. activities</label>
                                    <input type="text" name="commMaintAct" />
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>

            <button class="submitbutton" type="submit">Add Device</button>

            <script src="js/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.js"></script>
            <script type="text/javascript">
                function showTab(tabIndex) {
                    // Hide all tab contents
                    const tabPanes = document.querySelectorAll('.tab-pane');
                    tabPanes.forEach(pane => {
                        pane.style.display = 'none';
                    });

                    // Show the selected tab content
                    document.getElementById('tab' + (tabIndex + 1)).style.display = 'block';

                    // Remove active class from all tabs
                    const tabs = document.querySelectorAll('.tab');
                    tabs.forEach(tab => {
                        tab.classList.remove('active-tab');
                    });

                    // Add active class to clicked tab
                    tabs[tabIndex].classList.add('active-tab');
                }

                // Initially show the first tab
                showTab(0);
            
                var failure_data = [
                    {
                        "failure_date": "",
                        "failure_mode": "",
                        "failure_severity": "",
                        "downtime": "",
                        "recovery_time": ""
                    },
                    {
                        "failure_date": "",
                        "failure_mode": "",
                        "failure_severity": "",
                        "downtime": "",
                        "recovery_time": ""
                    },
                    {
                        "failure_date": "",
                        "failure_mode": "",
                        "failure_severity": "",
                        "downtime": "",
                        "recovery_time": ""
                    },
                    {
                        "failure_date": "",
                        "failure_mode": "",
                        "failure_severity": "",
                        "downtime": "",
                        "recovery_time": ""
                    },
                    {
                        "failure_date": "",
                        "failure_mode": "",
                        "failure_severity": "",
                        "downtime": "",
                        "recovery_time": ""
                    }
                ]
                var failure_container = document.getElementById('failure');
                var failure_hot = new Handsontable(failure_container, {
                    data: failure_data,
                    rowHeaders: false,
                    colHeaders: false,
                    // colHeaders: ['Failure Date', 'Failure Cause', 'Failed Units'],
                    colHeaders: ['Failure Date', 'Failure Mode', 'Failure Severity', 'Downtime (min)', 'Recovery Time (min)'],
                    columnSorting: true,
                    sortIndicator: true
                });

                var usage_data = [
                    {
                        "usage_date": "",
                        "usage_values": ""
                    },
                    {
                        "usage_date": "",
                        "usage_values": ""
                    },
                    {
                        "usage_date": "",
                        "usage_values": ""
                    },
                    {
                        "usage_date": "",
                        "usage_values": ""
                    },
                    {
                        "usage_date": "",
                        "usage_values": ""
                    }
                ]
                var usage_container = document.getElementById('usage');
                var usage_hot = new Handsontable(usage_container, {
                    data: usage_data,
                    rowHeaders: false,
                    colHeaders: false,
                    colHeaders: ['Usage Date', 'Usage Values'],
                    columnSorting: true,
                    sortIndicator: true
                });

                var maintenance_data = [
                    {
                        "maintenance_date": "",
                        "maintenance_type": "",
                        "cost_of_maintenance_activity": ""
                    },
                    {
                        "maintenance_date": "",
                        "maintenance_type": "",
                        "cost_of_maintenance_activity": ""
                    },
                    {
                        "maintenance_date": "",
                        "maintenance_type": "",
                        "cost_of_maintenance_activity": ""
                    },
                    {
                        "maintenance_date": "",
                        "maintenance_type": "",
                        "cost_of_maintenance_activity": ""
                    },
                    {
                        "maintenance_date": "",
                        "maintenance_type": "",
                        "cost_of_maintenance_activity": ""
                    }
                ]
                var maintenance_container = document.getElementById('maintenance');
                var maintenance_hot = new Handsontable(maintenance_container, {
                    data: maintenance_data,
                    rowHeaders: false,
                    colHeaders: false,
                    colHeaders: ['Maint. Date', 'Maint. Type', 'Maint. Activity Cost'],
                    columnSorting: true,
                    sortIndicator: true
                });

                // something here.
                fetch('/add-device', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                    console.log('Data successfully sent to the server:', result);
                })
                .catch(error => {
                    console.error('Error sending data to the server:', error);
                });
            </script>
        </form>
    </div>
</body>

{% endblock %}