.collapsible {
    width: 100%;
    display: grid;
    padding: 20px;
    height: max-content;
    justify-items: center;
    background: var(--grid-info);
    font-size: large;
    color: var(--main-blue);
    font-weight: bold;
    grid-template-columns: auto auto;
    justify-content: space-between;
    border-radius: 20px;
  }
  
  .assetList .active{
    background-color: var(--pale-blue);
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
  }
  .collapsible:hover {
    background-color: var(--pale-blue);
  }
  
  .content {
    padding: 20px;
    height: max-content;
    justify-items: center;
    border: solid 3px var(--main-blue);
    border-radius: 0 0 20px 20px;
    display: none;
    overflow: hidden;
    background: var(--grey);
    margin-bottom: 10px;
  }
  .assetList{
      display: grid;
      padding: 20px;
      background-color: var(--accent-clr);
      justify-items: center;
      width: 80%;
      margin: 20px 10%;
      border-radius: 20px;
      border: solid 3px var(--main-blue);
  }

  .assetList h3{
    color: var(--main-blue);
    padding-bottom: 10px;
  }