

.alerts, .messages {
  /* Make the container span the full width */
  width: 100%;
  
  /* Hide any content that goes outside the container */
  overflow: hidden;

  /* NEW STUFF */
  /* width: 980; */
}

.slider {
  /* This enables the horizontal layout of the children elements */
  display: flex;
  
  /* Allow the slider to expand based on the content */
  /* width: max-content;

  /* Horizontal scrolling effect */
  /* animation: scroll-left 10s linear infinite; */
  
  /* NEW STUFF */
  /*-webkit-overflow-scrolling: touch;*/
  /* flex-wrap: nowrap; */
  /* width: 280px; */
}

.slideElementsContainer {
  /* To make the content of each slide inline */
  display: flex;
  
  /* Prevent the slide elements from shrinking */
  flex-shrink: 0;
  
  /* Add spacing between elements */
  margin-right: 20px;
  
  /* NEW STUFF */
  /*scroll-snap-align: start;*/
  /* overflow-y: scroll; */
  width: 960px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  /* box-sizing: border-box; */
}

.slideElementContent {
  background-color: lightslategray; /* Optional: Background color */
  border: 3px solid var(--main-blue);
  padding: 10px; /* Space inside the slide element */
  width: max-content; /* Width of each slide */
  margin: 5px; /* Space between slides */
  text-align: center; /* Center the text inside */
  display: flex; /* Ensure the link behaves as a block element */

  flex-direction: column;
  height: auto;
  /* justify-content: space-between; */
  justify-content: flex-start;
  /* gap: 10px; */

  text-decoration: none; /* Remove underline from the links */
  color: white; /* Set link text color */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);

}

.slideElementContent span {
  margin-top: auto;
  text-decoration: none;
  white-space: nowrap;

  > a {
    text-decoration: none;
    color: brown;
  }
}


/**/
.date {
  justify-content: right;
  align-items: right;
}


.icon {
  max-width: 20%;
    padding: 20px;
}

.messageContainer {
  display: flex;
  flex-shrink: 0;
  margin-right: 20px;
  width: 960px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  align-items: stretch;
}

.messageSection {
  width: max-content;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: solid var(--main-blue) 3px;
    flex-direction: column;
    justify-content: center;
}

.messageSlider {
  margin-bottom: 2px;
  padding: 5px;
}

.assetDetails{
  border-radius: 20px;
  background: var(--secondary-blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  width: max-content;
  font-size: larger;
  padding: 5%;
}