/* Find asset */

.searchbar{
    display: flex;
    justify-content: center;
  }

  .searchbar .labeltext{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }

  .searchbar .textbox{
    padding: 5px 10px;
  }

  .labeltext{
    text-align: right;
    padding: 0 5px;
    color: var(--main-blue);
  }
  .textbox{
    fill: var(--text-box);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
    border: none;
    margin: 20px;
  }

  .searchbar .labeltext{
    width: 10%;
    
  }
  .searchbar .textbox{
    width: 70%;
  }

  .results{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 2%;
    width: 96%;
    border: none;
    background: unset;
  }
  .gridLeft{
    background-color: var(--light-blue);
    border: #B8CDD6 solid 1px;
    display: grid;
    justify-content: center;
    padding: 10px;
  }
  .gridRight{
    align-content: center;
    background-color: var(--grid-info);
    border: #B8CDD6 solid 1px;
  }
  .upperLeft{
    border-radius: 20px 0 0 0;
  }
  .bottomLeft{
    border-radius: 0 0 0 20px;
  }
  .upperRight{
    border-radius: 0 20px 0 0;
  }
  .bottomRight{
    border-radius: 0 0 20px 0;
  }
  .assetDescrip{
    padding: 10px;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
  }
  .scheduled{
    padding: 10px;
    font-weight: lighter;
    font-size: large;
    text-align: center;
  }