/* view usage */
.usagedate{
    display: flex;
    flex-direction: column;
  }
  .dateHead{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  .timeSubHead{
    font-size: medium;
    font-weight: lighter;
    text-align: center;
    color: white;
  }
  .notes{
    padding: 10px;
    inset: 20px;
    padding: 10px;
    text-indent: 20px;
  }

  .assetDisplay{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .assetCircle{
    height: 150px;
    width: 150px;
    background: var(--light-blue);
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .assetInfo{
    text-align: center;
  }

  .assetHead{
    font-size: xx-large;
    font-weight: bolder;
    padding: 10px;
  }

  .assetSubHead{
    font-size: large;
  }
  .results{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 2%;
    width: 96%;
    border: none;
    background: unset;
  }
  .gridLeft{
    background-color: var(--light-blue);
    border: #B8CDD6 solid 1px;
    display: grid;
    justify-content: center;
    padding: 10px;
  }
  .gridRight{
    align-content: center;
    background-color: var(--grid-info);
    border: #B8CDD6 solid 1px;
  }
  .upperLeft{
    border-radius: 20px 0 0 0;
  }
  .bottomLeft{
    border-radius: 0 0 0 20px;
  }
  .upperRight{
    border-radius: 0 20px 0 0;
  }
  .bottomRight{
    border-radius: 0 0 20px 0;
  }