/* VARIABLES */
:root{
    --grey: #DDDDDE;
    --main-blue: #285162;
    --usage: #bc7241;
    --devices: #41bca6;
    --message: #4198bc;
    --break: #bc4f41;
    --secondary-blue: #3B5C6A;
}

/* OVERALL STYLE */
header{
    background: var(--main-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
    margin: 0%;
}

body{
    background: var(--grey);
    margin: 0%;
}

/* DEPARTMENT */
.request{
    background: var(--message);
}
.usage{
    background: var(--usage);
}
.break{
    background: var(--break)
}
.device{
    background: var(--devices);
}

.subheader{
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    padding: 20px;
    color: white;
    margin: 0%;
}
.title{
    text-align: center;
}

.returnHome{
    background-color: var(--main-blue);
    width: 189px;
    height: 80px;
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.submitbutton{
    border-radius: 20px;
    background: var(--secondary-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    width: 50%;
    font-size: larger;
    padding: 5%;
    margin: 0 45%;
}

/* department home */
.buttons{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: space-evenly;
    margin: 5%
}

.homePageButton{
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 487px;
    height: 283px;
    margin: 5%;
}

/* send request */
.subjectText {
    text-align: right;
    padding: 0 5px;
    color: var(--main-blue);
}

.dateText {
    text-align: right;
    padding: 0 5px;
    color: var(--main-blue);
}

.messageText {
    text-align: right;
    padding: 0 5px;
    padding: 10px;
    color: var(--main-blue);
}
.subjectBox {
    fill: #F5F2F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.dateBox {
    fill: #F5F2F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.messageBox {
    fill: #F5F2F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
    border: none;
    height: 325px;
}

.container {
    display: grid;
    grid-template-areas:
      "subject date"
      "message message"
      "gap button";
    grid-template-columns: 50% 50%;
    gap: 5px;
    padding: 10px;
    margin: 10px;
  }

  .container > div.subjectClass {
    display: grid;
    grid-area: subject;
    grid-template-columns: 10% 90%;
    padding: 20px;
  }
  .container > div.dateClass {
    display: grid;
    grid-area: date;
    grid-template-columns: 10% 90%;
    padding: 20px;
  }
  .container > div.messageClass {
    display: grid;
    grid-area: message;
    grid-template-columns: 5% 95%;
    padding: 20px;
  }
  .container > div.gapClass {
    display: grid;
    grid-area: gap;
  }
  .container > div.buttonClass {
    display: grid;
    grid-area: button;
    padding: 20px;
    justify-content: end;

  }


