{% extends "layouts/nav.html" %}
{% block content %}

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/pages/Director/DirectorHome_styles.css">
    <link rel="stylesheet" href="/static/pages/stylesheet.css">
</head>
<body class="wholepage">
    <div class="truebody Special">
        <div class="general subheader">
            <h1 class="title">
                Home
            </h1>
        </div>
    <div class="buttons">
        <button type="button" onclick="window.location.href='/send-request'" class="request buttonStyle" >
            <h2>Send Maintenance Request</h2><br>
            <img src="/static/img/mail.png">
        </button>
        <!-- <button type="button" onclick="window.location.href='/update-asset-usage'" class="usage buttonStyle">
            <h2>Update Machine Usage</h2><br>
            <img src="/static/img/time.png">
        </button> -->
        <!-- <button type="button" onclick="window.location.href='/report-equipment-failure'" class="break buttonStyle">
            <H2>Report Urgent Maintenance</H2><br>
            <img src="/static/img/alert.png">
        </button> -->
        <button type="button" onclick="window.location.href='/asset-manager'" class="device buttonStyle">
            <!-- <H2>View Devices</H2><br> -->
            <h2>Manage Assets</h2><br>
            <img src="/static/img/search.png">
        </button>
    </div>
    </div>
</body>

{% endblock %}